@font-face {
  font-family: "iconfont"; /* Project id 5026251 */
  src: url('iconfont.woff2?t=1766629062877') format('woff2'),
       url('iconfont.woff?t=1766629062877') format('woff'),
       url('iconfont.ttf?t=1766629062877') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e63f";
}

.icon-comment:before {
  content: "\e8e8";
}

.icon-trash:before {
  content: "\e738";
}

.icon-pubuliu:before {
  content: "\e600";
}

.icon-layout:before {
  content: "\e661";
}

.icon-italic:before {
  content: "\e806";
}

.icon-editor-background-color:before {
  content: "\e829";
}

.icon-quote:before {
  content: "\e6fc";
}

.icon-undo:before {
  content: "\e789";
}

.icon-redo:before {
  content: "\e78a";
}

.icon-image:before {
  content: "\e7de";
}

.icon-indent:before {
  content: "\e7f5";
}

.icon-outdent:before {
  content: "\e7f6";
}

.icon-unorderedlist:before {
  content: "\e7f7";
}

.icon-orderedlist:before {
  content: "\e7f8";
}

.icon-align-right:before {
  content: "\e7f9";
}

.icon-align-center:before {
  content: "\e7fa";
}

.icon-align-left:before {
  content: "\e7fb";
}

.icon-bold:before {
  content: "\e800";
}

.icon-font-colors:before {
  content: "\e802";
}

.icon-strikethrough:before {
  content: "\e803";
}

.icon-underline:before {
  content: "\e804";
}

.icon-code:before {
  content: "\e805";
}

.icon-clear:before {
  content: "\e900";
}

.icon-check-circle:before {
  content: "\e77d";
}

.icon-close-circle:before {
  content: "\e77f";
}

.icon-frown:before {
  content: "\e780";
}

.icon-time-circle:before {
  content: "\e784";
}

.icon-YUAN:before {
  content: "\e785";
}

.icon-warning-circle:before {
  content: "\e786";
}

.icon-sync:before {
  content: "\e787";
}

.icon-reload:before {
  content: "\e788";
}

.icon-logout:before {
  content: "\e78c";
}

.icon-export:before {
  content: "\e795";
}

.icon-Import:before {
  content: "\e796";
}

.icon-detail:before {
  content: "\e798";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-filedone:before {
  content: "\e7b4";
}

.icon-home:before {
  content: "\e7c6";
}

.icon-ellipsis:before {
  content: "\e801";
}

.icon-info-circle:before {
  content: "\e77e";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-edit-square:before {
  content: "\e791";
}

.icon-appstore:before {
  content: "\e792";
}

.icon-file-copy:before {
  content: "\e7bc";
}

.icon-delete:before {
  content: "\e7c3";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-star:before {
  content: "\e7e0";
}

.icon-link:before {
  content: "\e7e2";
}

.icon-pushpin:before {
  content: "\e7e3";
}

.icon-right:before {
  content: "\e7eb";
}

.icon-left:before {
  content: "\e7ec";
}

.icon-up:before {
  content: "\e7ed";
}

.icon-down:before {
  content: "\e7ee";
}

.icon-arrowright:before {
  content: "\e7ef";
}

.icon-arrowup:before {
  content: "\e7f0";
}

.icon-arrowleft:before {
  content: "\e7f1";
}

.icon-arrowdown:before {
  content: "\e7f2";
}

.icon-upload:before {
  content: "\e7f3";
}

.icon-download:before {
  content: "\e7f4";
}

.icon-check:before {
  content: "\e7fc";
}

.icon-close:before {
  content: "\e7fd";
}

.icon-question:before {
  content: "\e7fe";
}

.icon-small-dash:before {
  content: "\e7ff";
}

.icon-warning-circle-fill:before {
  content: "\e848";
}

.icon-heart-fill:before {
  content: "\e849";
}

.icon-folder-open-fill:before {
  content: "\e85e";
}

.icon-search:before {
  content: "\e8ef";
}

